<div class="card shadow-sm h-100">
  <h5 class="card-title p-2 m-0">{{ trip.name }}</h5>

  <img
    class="card-img-top"
    [src]="'/images/' + trip.image"
    [alt]="trip.name"
  />

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      {{ trip.resort }}
    </h6>

    <p class="card-text">{{ trip.length }} only</p>
    <p class="card-text">${{ trip.perPerson }} per person</p>
    <p class="card-text">{{ trip.description }}</p>

    <button *ngIf="authService.isLoggedIn()"
            class="btn btn-primary mt-2 me-2"
            (click)="editTrip(trip)">
      Edit Trip
    </button>

    <button *ngIf="authService.isLoggedIn()"
            class="btn btn-danger mt-2"
            (click)="deleteTrip(trip.code)">
      Delete Trip
    </button>
  </div>
</div>